
<h1>Coin Counter!</h1>
<form action="/show">
  <div class="form-group">
     <label for="change">Enter your amount
</label>
     <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
